<div class="container pt-3">
  <h1 class="mb-8 text-2xl">AIが生成した理想的なパートナー</h1>
  <div class="card lg:card-side bg-base-100 shadow-xl mb-8">
    <div class="card-body">
      <h2 class="card-title">パートナー情報</h2>
      <p class="mb-8">あなたの情報：<%= @love.personality %>, <%= @love.occupation %>, <%= @love.favorite_food %>, <%= @love.birthday %>, <%= @love.background %></p>
      <p><%= @love.ideal_partner %></p>
    </div>
  </div>
  <div class="text-center">
    <p><%= @love.ideal_partner %></p>
  </div>

  <!-- Debug information -->
  <div class="text-center">
    <pre><%= @love.inspect %></pre>
  </div>
</div>
